.contador{
    width: 100%;
    height: auto;
    color: cadetblue;
    display:block;
    text-align: center;
    justify-content: center;
}

.contador button{
    margin: 5px;
    border-radius: 5px;
    border-color: silver;
    background-color: cadetblue;
    color: white;
}